{% extends "base.html" %}

{% load static %}

{% block title%} Edit Saving {% endblock%}

{% block content %}
<form 
    method="post" 
    class="container mt-4 p-3 shadow rounded" 
    enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="mb-4 text-center">Edit saving</h2>

    <div class="row gy-4">
        <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input 
                type="text" 
                name="name" 
                class="form-control" 
                placeholder="saving Name" 
                id="name" 
                value="{{ saving.name }}" 
                required>
        </div>

        <div class="col-md-12">
            <label for="category" class="form-label">Type</label>
            <select class="form-select" id="type" name="type" required>
                <option value="">Select a type</option>
                <option value="Food">Sacco</option>
                <option value="Food">Emergency Fund</option>
                <option value="Transportation">Fixed Deposit</option>
                <option value="Entertainment">Insurance Plan</option>
                <option value="Bills">Bank</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="col-md-12">
            <label for="amount" class="form-label">Amount</label>
            <input 
                type="number" 
                class="form-control" 
                name="amount" 
                id="amount" 
                value="{{ saving.amount }}" 
                placeholder="Amount" 
                required>
        </div>
        <div class="col-md-12">
            <label for="date" class="form-label">Date</label>
            <input 
                type="date" 
                class="form-control" 
                name="date" 
                id="date" 
                value="{{ saving.date|date:'Y-m-d' }}" 
                placeholder="Date" 
                required>
        </div>

        <div class="col-md-12">
            <label for="description" class="form-label">Description</label>
            <textarea 
                class="form-control" 
                name="description" 
                rows="6" 
                id="description" 
                placeholder="Description" 
                required>{{ saving.description }}</textarea>
        </div>
        <div class="col-md-12">
            <label for="image">Edit Receipt</label>
            <input type="file" name="image" id="image" class="form-control">
        </div>

        <div class="col-md-12 text-center">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary px-4">Save Changes</button>
            </div>
        {% comment %} <button type="submit" class="btn btn-primary px-4">Update Contact</button> {% endcomment %}
        </div>
    </div>
</form>
{% endblock %}