{% extends "base.html" %}

{% load static %}

{% block title %}Login Page{% endblock %}

{% block content %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-4 mx-auto">
            <div class="panel panel-default shadow-lg">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Login via Site</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" action="{% url 'dimba_app:login' %}" role="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="username" name="username" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>
                            <div class="text-center">
                                <input class="btn btn-lg btn-success w-50" type="submit" value="Login">
                            </div>
                        </fieldset>
                    </form>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
